@import 'variables';

.allorders{
    font-family: sans-serif;
    max-width: 1000px;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
}

.order{
    display: flex;
    margin: 20px;

    img{
        width: 100px;
        margin-right: 10px;
    }
    p{
        font-size: 15px;
        letter-spacing: 0.8px;
        margin-bottom: 5px;
    }
    .detail{
        color: $primary-color;
    }
}