@import 'variables';

.allorders{
    font-family: sans-serif;
    max-width: 1000px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.order{
    display: flex;
    margin: 20px;

    img{
        width: 70px;
        margin-right: 10px;
    }
    p{
        font-size: 15px;
        letter-spacing: 0.8px;
        margin-bottom: 5px;
    }
    .detail{
        color: $primary-color;
    }
}