@import 'variables';

.allproducts-container{
    padding: 30px;
    max-width: 1100px;
    margin: 0 auto;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
}

form {
    max-width: 1000px;
    margin: 0 auto;
    font-family: sans-serif;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    .form-child{
        margin: 10px;
        label{
            display: block;
            color: rgb(60, 60, 60);
            margin-bottom: 5px;
        }
        input, textarea{
            width: 300px;
            padding: 10px 10px;
            outline: none;
            border: 1px solid rgb(196, 196, 196);
            font-size: 16px;
        }
    }
    .add-btn{
        background-color: $primary-color;
        padding: 10px 100px;
        width: 300px;
        font-size: 16px;
        height: fit-content;
        border: none;
        color: white;
        margin-top: 33px;
        margin-left: 10px;
        cursor: pointer;
        &:hover{
            background-color: $hover-color;
        }
    }
}

.product{
    width: 300px;
    display: flex;
    align-items: flex-start;
    margin: 20px;
    img{
        width: 100px;
        margin-right: 10px;
    }
    .name{
        font-size: 14px;
        margin-bottom: 5px;
    }
    .price{
        color: $primary-color;
        margin-bottom: 5px;
    }
    button{
        margin-right: 5px;
        background-color: transparent;
        padding: 2px 5px;
        border: 1px solid $primary-color;
        cursor: pointer;
        background-color: $primary-color;
        color: white;
        border-radius: 5px;
        &:hover{
            background-color: transparent;
            color: $primary-color;
        }
    }
}