*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.allusers{
    padding: 30px 0;
    max-width: 1100px;
    margin: 0 auto;
    font-family: sans-serif;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    .user{
        display: flex;
        align-items: center;
        margin: 20px;
    }
    img{
        width: 50px;
        margin-right: 10px;
    }
}